<p>addbook works!</p>
<div>
    <span>書籍名稱</span>
    <input type="text">
    <span>ISBN</span>
    <input type="text">
    <span>作者</span>
    <input type="text">
    <span>出版社</span>
    <input type="text">
    <span>定價</span>
    <input type="text">
    <span>- 書籍分類 -</span>

    <span>大分類</span>
    <select name="" id=""></select>
    <span>中分類</span>
    <select name="" id=""></select>
    <span>小分類</span>
    <select name="" id=""></select>


    <span>簡介</span>
    <input type="text">

    <span>書籍圖片</span>
    <input type="text">

    <span>頁數</span>
    <input type="text">

    <button>儲存</button>
</div>