<div class="titlecontainer">
    <ul class="bsname">特洛伊線上書店 </ul>
    <ul class="titlebar">
        <li class="hlogo">
            <a routerLink="/home"><img src="../../assets/homeicon.png" alt="特洛伊書店"></a>
        </li>
        <li class="hsearchimg">
            <img src="../assets/Title/search.png">
        </li>
        <li class="hinput">
            <input>
        </li>
        <li class="huser">
            <a href="#"><img src="../assets/Title/user.png">&ensp;登入/註冊</a>
        </li>
        <li class="hcart">
            <a href="#"><img src="../assets/Title/shopping-cart.png">&ensp;購物車</a>
        </li>
        <li class="hlike">
            <a href="#"><img src="../assets/Title/love.png">&ensp;我的最愛</a>
        </li>
    </ul>
</div>
<hr size=5>
<div>
    <ul class="typebar">
        <li><a href="#">商管書籍</a></li>
        <li><a href="#">外語學習</a></li>
        <li><a href="#">理工科學</a></li>
        <li><a href="#">商品分類</a></li>
        <li><a href="#">商品分類</a></li>
    </ul>
</div>

<router-outlet></router-outlet>

