<!-- <p>home works!</p> -->
<div class="container">
    <ul class="slides">
        <input type="radio" id="control-1" name="control" checked>
        <input type="radio" id="control-2" name="control">
        <input type="radio" id="control-3" name="control">
        <input type="radio" id="control-4" name="control">
        <input type="radio" id="control-5" name="control">
        <li id="slide"><img src="../../assets/Carousel/bookstore_1.jpg"></li>
        <li id="slide"><img src="../../assets/Carousel/bookstore_2.jpg"></li>
        <li id="slide"><img src="../../assets/Carousel/bookstore_3.jpg"></li>
        <li id="slide"><img src="../../assets/Carousel/bookstore_4.jpg"></li>
        <li id="slide"><img src="../../assets/Carousel/bookstore_5.jpg"></li>

        <div class="controls-visible">
            <label for="control-1"></label>
            <label for="control-2"></label>
            <label for="control-3"></label>
            <label for="control-4"></label>
            <label for="control-5"></label>
        </div>
    </ul>
</div>

<div class="pd_container">
    <ul class="product_hot">
        <span class="pd-text">熱門推薦</span>
        <li>
            <a href="">more...</a>
        </li>
    </ul>
    <div class="list_container">
        <!-- ngFor -->
        <div class="hot_list" *ngFor="let hot_item of [1,2,3,4,5]">
            <div>
                <img class="product_img"
                    src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/083/52/0010835264.jpg&v=5ee3673a&w=150&h=150"
                    alt="">                    
                <img class="like_img" src="../../assets/List/love_before.png" alt="">
                <img class="like_img" src="../../assets/List/love_after.png" alt="">
            </div>
            <div>
                <span>60公分果菜園</span>
                <img class="addcart_img" src="../../assets/List/add_shopping-cart_before.png" alt="">
                <img class="addcart_img" src="../../assets/List/add_shopping-cart_after.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="pd_container">
    <ul class="product_new">
        <span class="pd-text">最新書籍</span>
        <li>
            <a href="">more...</a>
        </li>
    </ul>
    <div class="list_container">
        <!-- ngFor -->
        <div class="new_list" *ngFor="let new_item of [1,2,3,4,5]">
            <div>
                <img class="product_img"
                    src="https://im2.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/088/97/0010889755.jpg&v=6082afc1&w=348&h=348"
                    alt="">
                <img class="like_img" src="../../assets/List/love_before.png" alt="">
                <img class="like_img" src="../../assets/List/love_after.png" alt="">
            </div>
            <div>
                <span class="pd_name">聊天記錄</span>
                <img class="addcart_img" src="../../assets/List/add_shopping-cart_before.png" alt="">
                <img class="addcart_img" src="../../assets/List/add_shopping-cart_after.png" alt="">
            </div>
        </div>
    </div>
</div>

<div>
    <a routerLink="/addbook">
        <img class="addfile" src="../assets/addfile_before .png" alt="">
        <img class="addfile" src="../assets/addfile_after.png" alt="">
    </a>
</div>